/* ==========================================
   BHUVANESHWARI ❤️ THYAGU
   PREMIUM RECEPTION INVITATION
========================================== */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html{
    scroll-behavior:smooth;
}


body{

    font-family:'Poppins',sans-serif;

    background:#080808;

    color:white;

    overflow-x:hidden;

}



/* =========================
LOADER
========================= */


#loader{

    position:fixed;

    inset:0;

    background:#080808;

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:9999;

}


.loader-content{

    text-align:center;

}


.loader-content h1{

    font-family:'Great Vibes',cursive;

    font-size:65px;

    color:#d4af37;

}


.loader-content p{

    margin-top:20px;

    letter-spacing:4px;

}






/* =========================
ENVELOPE SECTION
========================= */


#landing{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:

    radial-gradient(circle,#4b3515,#080808 70%);

}


.envelope-area{

    text-align:center;

}


.tap-text{

    margin-top:40px;

    color:#d4af37;

    letter-spacing:3px;

}





/* ENVELOPE */


.envelope{

    width:330px;

    height:230px;

    position:relative;

    perspective:1000px;

}



.back{

    position:absolute;

    inset:0;

    background:#9b7424;

    border-radius:12px;

}





/* CARD */


.letter{

    position:absolute;

    width:280px;

    height:380px;

    left:25px;

    top:20px;

    background:white;

    padding:15px;

    border-radius:10px;

    opacity:0;

    transform:translateY(80px);

    z-index:2;

    transition:1s;

}



.envelope.open .letter{

    opacity:1;

    transform:translateY(-170px);

}





.letter img{

    width:100%;

    height:280px;

    object-fit:cover;

}





#openBtn{

    width:100%;

    margin-top:15px;

    padding:12px;

    border:none;

    border-radius:30px;

    background:#d4af37;

    color:#000;

    font-weight:600;

    cursor:pointer;

}





/* ENVELOPE FRONT */


.front-left{

    position:absolute;

    bottom:0;

    left:0;

    border-style:solid;

    border-width:115px 165px 115px 0;

    border-color:transparent #c4952d transparent transparent;

    z-index:3;

}



.front-right{

    position:absolute;

    bottom:0;

    right:0;

    border-style:solid;

    border-width:115px 0 115px 165px;

    border-color:transparent transparent transparent #c4952d;

    z-index:3;

}



.front-bottom{

    position:absolute;

    bottom:0;

    left:0;

    border-style:solid;

    border-width:0 165px 120px 165px;

    border-color:transparent transparent #d4af37 transparent;

    z-index:4;

}




/* FLAP */


.flap{

    position:absolute;

    top:0;

    left:0;

    border-left:165px solid transparent;

    border-right:165px solid transparent;

    border-top:120px solid #e1b83c;

    transform-origin:top;

    z-index:5;

    transition:1s;

}



.envelope.open .flap{

    transform:rotateX(180deg);

}




.seal{

    position:absolute;

    top:-100px;

    left:-25px;

    width:50px;

    height:50px;

    background:#8b0000;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

}







/* =========================
STORY
========================= */


#story{

    padding:100px 20px;

    text-align:center;

}


#story h1{

    font-family:'Great Vibes',cursive;

    font-size:60px;

    color:#d4af37;

}


#story h2{

    margin:25px;

    font-family:'Cinzel',serif;

}


#story p{

    max-width:700px;

    margin:auto;

    line-height:2;

    color:#ddd;

}







/* =========================
DETAILS
========================= */


#details{

    padding:80px 20px;

    text-align:center;

}



.details-card{

    max-width:500px;

    margin:auto;

    padding:40px;

    border:1px solid #d4af37;

    border-radius:20px;

}



.details-card h1{

    font-family:'Great Vibes',cursive;

    font-size:55px;

    color:#d4af37;

}


.details-card h3{

    margin-top:25px;

    color:#d4af37;

}








/* =========================
GALLERY
========================= */


#gallery{

    padding:100px 20px;

    text-align:center;

}



#gallery h1{

    font-family:'Great Vibes',cursive;

    font-size:60px;

    color:#d4af37;

}


.gallery{

    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}



.gallery img{

    width:280px;

    height:350px;

    object-fit:cover;

    border-radius:20px;

    border:2px solid #d4af37;

}







/* =========================
CLOSING
========================= */


#closing{

    height:70vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

}



#closing h1{

    font-family:'Great Vibes',cursive;

    font-size:70px;

    color:#d4af37;

}


#closing h2{

    font-family:'Cinzel',serif;

}





/* MOBILE */

@media(max-width:600px){

    .loader-content h1{

        font-size:45px;

    }


    .envelope{

        transform:scale(.85);

    }


    #story h1,
    #gallery h1{

        font-size:45px;

    }

}
